/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
          /* Add fonts from the app's server 
@font-face {                
  font-family: 'FontName';
  src: url('FontName.woff2') format('woff2');
} 
          */                           

          /* ...or hosted services like Google Fonts 
@import url(//fonts.googleapis.com/css?family=Font+Name);
          */

          @import '../node_modules/modern-normalize/modern-normalize.css';
          /* npm install modern-normalize 
            Resets elements for browser consistancy.  
            http://nicolasgallagher.com/about-normalize-css/ 
          */

          /* Component-specific stylesheets, if any 
@import "component1.css";   
          */

/*   ----- Variables  -----  */
:root {
  --dark-background: #348888;
  --medium-blue: #22BABB;
  --light-blue: #9EF8EE;
  --almost-white: #F2F2F2;
  --light-orange: #FA7F08;
  --dark-orange:#F24405;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {       /* Can alternatively define in html {} or :root {} */
  color: var(--almost-white);
  background-color: var(--dark-background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10%;
  font-size: medium;
  font-weight: 400;
  padding: 5px;
  min-width: 900px;
}

/* ----- Anchors ----- Text links */
a {}
a:link {}
a:hover {}
a:active {}
a:visited {}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
    background-color: var(--light-blue);
    color: var(--dark-background);
    text-align: center;
    padding: 20px;
}

nav a {
    background-color: var(--medium-blue);
    color:var(--dark-background);
    text-decoration: none;
    line-height: 0px;
    vertical-align:middle;
    margin: 35px;
    padding: 8px 20px;
    font-weight: bold;
    border:#348888;
    border-width: 1px;
    border-radius: 15px;
    font-weight: 500;
}

nav a:visited {
    color:white;
}

nav a:hover {
    background-color:var(--dark-background);
    text-decoration: underline;
}

/*  ----- Page layout blocks -----  */
header {
     background-color: var(--medium-blue);
     color: var(--almost-white);
     text-align: center;
     line-height: 15px;
     padding: 10px;
}
main {
    background-color: var(--almost-white);
    color: var(--dark-background);
    border: var(--light-blue);
    border-width: 7px;
    border-style: solid;
    align-items: center;
    text-align: center;
    padding: 15px;
}
section {}
  article {}
    #topic1 {}
    #topic2 {}
    #gallery1 {}
    #gallery2 {}
div {}
aside {}
footer {
  color: lightgray;
  font-size: smaller;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  vertical-align: bottom;
}

/*  -----  Typography  ----- */
p {}
br {}
ol, ul, dl {}
li {}
dt {}
dd {}

h1, h2, h3, h4, h5, h6 {} /* Define consistant font family.*/
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

abbr {}
acronym {}
address {}
blockquote {}
  q {}
  cite {}
em {}
hr {}
mark {}
s {}
span {}
strong {}
sub {}
sup {}
time {}

/*  ----- Coding or instructional typography ----- */
pre {}
code {}
kbd {}
samp {}
var {}
del {} 
ins {}

/*  ----- Table ----- */
table {
  margin-left: auto;
  margin-right: auto;
  border:var(--dark-background);
  border-style: solid;
  border-collapse: collapse;
  margin-bottom: 5%;
  color: var(--dark-background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 800px
}
caption {}
thead {
  height: 30px;
  background-color: var(--dark-background);
  color: var(--almost-white);
}
tbody {}
tfoot {}
tr {}
  tr:nth-child(even) {
    background-color: var(--light-orange);
    color: var(--almost-white)
  }
  tr:nth-child(odd) {
    background-color: var(--dark-orange);
    color: var(--almost-white)
  }
th {
  font-weight: 500;
  color: var(--almost-white);
  padding: 12px;
  background-color: var(--dark-background);
}
tr td {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px;
}
  td:nth-child(1) {
    text-align: left;
  }
  td:nth-child(5) {
    width: 150px
  }
colgroup {}
data {}
datalist {}


/*  ----- Form ----- */
form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark-background);
  margin: 5%;
}
fieldset {
}
  legend {}
label {
  padding: 5px
}
  button {}
  input {
    width: 150px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 5px;
    color: var(--dark-background);
  }
  output {}
  meter {}
  progress {}
  select {
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 5px;
    color:var(--dark-background)
  }
    optgroup {}
    option {}
  textarea {}

#submit {
  color: inherit;
  padding: 5px;
  width: 75px;
  font-weight: 500;
}

#submit:hover{
  cursor: pointer;
  text-decoration: underline;
}

#reps, #weight {
  max-width: 80px;
}

#name {
  max-width: 150px;
}

#delete-button, #edit-button {
  font-size: 22px;
}

#delete-button:hover, #edit-button:hover{
  cursor: pointer;
}

#gym-icon {
  font-size: 32px;
}
/* ----- Media ----- */
figure {}
  figcaption {}
img {}
svg {}
picture {}
  source {}
iframe {}
video {}
audio {}
embed {}
object {}


/*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
.floatright {}
.floatleft {}
.center-middle {}

.ten {}
.twenty {}
.thirty {}
.forty {}
.fifty {}
.sixty {}
.seventy {}
.eighty {}

.radius {}
.circle {}
.boxshadow {}
.tshadow {} 
.gradient {}
.shape {}

@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}
